<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.application-identifier</key>
	<string>Q96FUTC5G8.dev.mvneves.Recortia</string>
	<key>com.apple.developer.team-identifier</key>
	<string>Q96FUTC5G8</string>
	<key>keychain-access-groups</key>
	<array>
		<string>Q96FUTC5G8.dev.mvneves.Recortia</string>
	</array>
</dict>
</plist>
